.navbar.navbar-light.bg-light {
	font-size: 14px;
}

p.card-text {
	margin: 0;
}

.carousel-control-next {
	right: -7%;
}

.carousel-control-prev {
	left: -7%;
}

.section {
	background: black;
	border: solid 1px white;
	color: white;
	border-radius: 12px;
	padding: 2px;
}

.container {
	padding-top: 5em;
}

.is-hidden {
	display: none !important;
}

.link_profil {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.card.border-dark {
	margin-bottom: 25px;
}

.container-sm{
	background-color: white;
	padding: 8.5em;
}

.container{
	padding: 0px;
}